<!doctype html>
<html lang="it">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Inserisci Codice Promo</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <div class="container">
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <div class="flash">
          {% for message in messages %}
            <p>{{ message }}</p>
          {% endfor %}
        </div>
      {% endif %}
    {% endwith %}

    <h2>Benvenuto a Gustino SPA 🎁</h2>


<form method="POST">
  {% if chat_id %}
    <h3>Inserisci il tuo codice promo per procedere:</h3>
    <input type="text" name="code" placeholder="Codice Promo" required>
    <button type="submit">Verifica Codice</button>
  {% else %}
    <h3>Non hai ancora avviato il nostro Bot Telegram?</h3>
    <p>Clicca il pulsante qui sotto per aprire il bot. Segui le istruzioni per collegare il tuo account al sistema e ricevere notifiche sulle prenotazioni e premi speciali.</p>
    <a href="https://t.me/GustinoSpa_bot" class="bot-button">Avvia Bot Telegram</a>
    <p>Avvia il bot Telegram per continuare</p>
  {% endif %}
</form>

  </div>
</body>
</html>
