{% extends "base.html" %}

{% block content %}
<h2>Premio Speciale 🎁</h2>
<h3>Ccongratulazioni!\nSei il nostro primo cliente ed hai diritto a sessioni di massaggio illimitate dal 20/12/2025 al 06/01/2026!</h3>
<p>Inoltre hai un codice speciale! Inserisci i tuoi dati per ricevere il tuo premio unico:</p>

<form method="POST">
  <label for="name">Nome</label>
  <input type="text" name="name" required>
  
  <label for="email">Email</label>
  <input type="email" name="email" required>
  
  <button type="submit">Richiedi Premio</button>
</form>
{% endblock %}
