<!doctype html>
<html lang="it">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset="utf-8">
  <title>Premio Speciale 🎁</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <div class="container">
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <div class="flash">
          {% for message in messages %}
            <p>{{ message }}</p>
          {% endfor %}
        </div>
      {% endif %}
    {% endwith %}

<form method="POST">
  {% if chat_id %}
    <h2>Premio Speciale 🎁</h2>
    <h3>
      Congratulazioni! Sei il nostro primo cliente 🎉<br>
      Hai diritto a <b>sessioni di massaggio illimitate</b><br>
      dal <b>20/12/2025</b> al <b>06/01/2026</b>!
    </h3>
    <p>Inserisci il tuo nome per ricevere il premio unico tramite Telegram:</p>
      <input type="text" name="name" placeholder="Nome" required>
      <button type="submit">Richiedi Premio e registrati</button>
  {% else %}
    <h4>Non hai ancora avviato il nostro Bot Telegram?</h4>
    <p>Clicca qui sotto per aprire il bot. Segui le istruzioni per collegare il tuo account e ricevere notifiche sulle prenotazioni:</p>
    <a href="https://t.me/GustinoSpa_bot" class="bot-button">Avvia Bot Telegram</a>
    <p>Avvia il bot Telegram per continuare</p>
  {% endif %}
</form>
  </div>
</body>
</html>
